@charset "UTF-8";

/*
** BODY RESET
*******/
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 0;
}

/*
** ELEMENTS RESET
*******/ 
a, p, ul, li, h1, h2, h3, h4, h5, h6, label, table, button {
	width: auto;
	height: auto;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	line-height: inherit;
	font-size: 1rem;
	outline: none;
}

img, fieldset, figure {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}