
/*
** FIELDS SETTINGS
******/
$fields    : (
    'field-12' : (
        width   : 100%, 
        padding : 0 0 0 1rem
    ),
    'field-11' : (
        width   : 91.6666%,
        padding : 0 0 0 1rem
    ),
    'field-10' : (
        width   : 83.3333%,
        padding : 0 0 0 1rem
    ),
    'field-9' : (
        width   : 75%,
        padding : 0 0 0 1rem
    ),
    'field-8' : (
        width   : 66.6666%,
        padding : 0 0 0 1rem
    ),
    'field-7' : (
        width   : 58.3333%,
        padding : 0 0 0 1rem
    ),
    'field-6' : (
        width   : 50%,
        padding : 0 0 0 1rem
    ),
    'field-5' : (
        width   : 41.6666%,
        padding : 0 0 0 1rem
    ),
    'field-4' : (
        width   : 33.3333%,
        padding : 0 0 0 1rem
    ),
    'field-3' : (
        width   : 25%,
        padding : 0 0 0 1rem
    ),
    'field-2' : (
        width   : 16.6666%,
        padding : 0 0 0 1rem
    ),
    'field-1' : (
        width   : 8.3333%,
        padding : 0 0 0 1rem
    )
);

@mixin fieldsSettings() {
    display: inline-block;
    margin-top: 1rem;
    vertical-align: middle;
}

@each $field, $value in $fields {

    $width      : map-get($value, width);
    $padding    : map-get($value, padding);

    .#{$field} {
        width: $width;
        padding: $padding;

        @include fieldsSettings;
    }

    .#{$field} input[type=text],
    .#{$field} input[type=password],
    .#{$field} input[type=tel],
    .#{$field} input[type=email],
    .#{$field} select {
        width:100%;
        display:table-cell;
        padding: 0 0.5rem;
        line-height: 1.5rem;
        border: 0;
        background:transparent;
        outline:none;
        font-family: 'Arial';
    }

    .#{$field} input[type=submit],
    .#{$field} input[type=button],
    .#{$field} button,
    .#{$field} textarea {
        width:100%;
        display:table-cell;
        padding:0.4375rem 0.5rem;
        line-height: 1.5rem;
        border:0;
        margin:0;
        background:transparent;
        font-family: 'Arial';
    }
}

.form {

    & {
        width: 100%;
        display: block;
    }

    .group {
        & {
            width:100%;
            display:inline-table;
        }

        .addon {
            width:1%;
            white-space:nowrap;
            display:table-cell;
            vertical-align:middle;
        }
    }

    .field-row {
        margin-left: -1rem;
    }
}