@import "../src/0.0.config";

/*
** GENERAL
*******/
html {
	height: 100%;
}

body {

	& {
		height: 100%;
		font-family: Arial;
	}

	&.overflow {
		overflow: hidden;
	}

	.content {
		width: 100%;
		display: inline-block;
		padding-bottom: 2rem;
	}

	.loader {
		
		& {
			width: 100%;
			display: block;
			text-align: center;
		}

		img {
			margin: 0 auto;
		}
	}

	.right-bar {
		width: size(360);
		float: right;
	}

	.left-bar {
		width: size(360);
		float: left;
	}

	.overflow-container {
		overflow: hidden;
		display: block;
	}

	.flag-icon {
		font-size: size(16);
	}

	.maskBody {
	
		& {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 2;
			display: none;
			cursor: pointer;
		}

		&.actived {
			display: block !important;
		}
	}
}