<script type="text/javascript" src="js/plugin.min.js"></script>
<script type="text/javascript" src="js/framework.min.js"></script>
<script type="text/javascript" src="js/general.min.js" async defer></script>